$blue: #7760AA;

$darkblue: #241C35;
$red: #EC6464;
$tan: #FFE9B5;
$darktan: #ffee56;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    justify-content: center;

    font-family: "owners", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: white;
    letter-spacing: 0.06em;
    font-size: 1.6rem;

    width: 100vw;
    overflow-x: hidden;
}

b {
    font-weight: 550;
    letter-spacing: 0.03em;
}
h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 7rem;
}
p {
    line-height: 150%;
}
a {
    text-decoration: none;
}

div, figure {
    z-index: 1;
}

#grain {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url('noise-256w.png');
    animation: 1.6s steps(1) 0s infinite grain;

    pointer-events: none;
    mix-blend-mode: soft-light;

    opacity: 0.45;
    z-index: 100;
}

@keyframes grain {
    0%, 100% {
        background-position: 0% 0%;
    }
    20% {
        background-position: 50% 50%;
    }
    40% {
        background-position: 25% 25%;
    }
    60% {
        background-position: 75% 75%;
    }
    80% {
        background-position: 0% 100%;
    }
}

#hero {
    width: 100%;
    height: 100svh;

    background-color: $darkblue;

    position: relative;
}
#hero .circles {
    top: 0;
    height: 200vh;
    padding-bottom: 100vh;
    left: 0;
    right: 0;
}
.circles {
    overflow: hidden;
}
#hero-info-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.svg-white {
    filter: brightness(0) invert(1);
}

#logo {
    width: 230vw;
    position: absolute;
    height: auto;
}
#logo path:nth-child(1) {
    stroke-dasharray: 2150;
    stroke-dashoffset: 2150;
    animation: path-1 2.0s linear forwards;
}
@keyframes path-1 {
    from { stroke-dashoffset: 2150 }
    to { stroke-dashoffset: 0 }
}
#logo path:nth-child(2) {
    stroke-dasharray: 475;
    stroke-dashoffset: 475;
    animation: path-2 1.2s ease-out forwards;
    animation-delay: 1.7s;
}
@keyframes path-2 {
    from { stroke-dashoffset: 475 }
    to { stroke-dashoffset: 0 }
}
#logo path:nth-child(3) {
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
    animation: path-3 1.2s ease-out forwards;
    animation-delay: 2.1s;
}
@keyframes path-3 {
    from { stroke-dashoffset: 760 }
    to { stroke-dashoffset: 0 }
}
#logo path:nth-child(4) {
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    animation: path-4 2.1s linear forwards;
    /* animation-delay: 2.9s; */
}
@keyframes path-4 {
    from { stroke-dashoffset: 2500 }
    to { stroke-dashoffset: 0 }
}

#hero-button {
    // display: flex;
    display: none;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 12.2vw;
    left: 15vw;

    /* font-size: 2.4rem; */
    font-size: 2.1vw;
    cursor: pointer;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#hero-button svg {
    stroke-dasharray: 670;
    stroke-dashoffset: 670;
    animation: button-path 1.5s cubic-bezier(.72,-0.03,.32,1.04) forwards;
    animation-delay: 3.2s;

    width: 23vw;
}
#hero-button-text-wrapper {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;   

    overflow: hidden;
}
#hero-button-text-wrapper p {
    transform: translateY(100%);
    animation: button-text 0.7s cubic-bezier(.07,.7,.43,.99) forwards;
    animation-delay: 3.2s;
}
@keyframes button-path {
    from { stroke-dashoffset: 670 }
    to { stroke-dashoffset: 0 }
}
@keyframes button-text {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

#logo, #hero-button {
    margin-bottom: 25px;
}

.absolute {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 33.3vw 33.3vw 33.3vw;
}
.justify-center {
    justify-items: center;
    align-items: center;
}

.bg-shape {
    z-index: 0;
    transform: scale(2);
    opacity: 0.75;
}
.bg-shape:before {
    content:"";display:block;margin-top:100%;
}

.bg-shape1 {
    width: calc(25vw + 150px);
    border-radius: 9999px;
    position: relative;
    animation: hero-one 10s infinite;

    // filter: blur(90px);
}
.bg-shape2 {
    width: calc(25vw + 150px);
    border-radius: 9999px;
    position: relative;
    animation: hero-two 10s infinite;
}
.bg-shape4 {
    width: calc(25vw + 150px);
    border-radius: 9999px;
    position: relative;
    animation: hero-three 10s infinite;
}
#move {
    width: 150px;
    height: 150px;
    border-radius: 9999px;
    position: relative;
    /* animation: two 10s infinite; */
    
    transform: translate(-50%, -50%);
    // opacity: 0.6;
    position: fixed;

    filter: blur(50px);

    transition: filter 0.35s ease;

    z-index: -1 !important;
}
.unblurred {
    filter: blur(20px) !important;
}

@keyframes hero-one {
    0% { left: 0px; top: 0px; }
    25% { left: -7%; top: 20%; }
    50% { left: 15%; top: -8%; }
    75% { left: -10%; top: -15%; }
    100% { left: 0px; top: 0px; }
}
@keyframes hero-two {
    0% { left: 0px; top: 0px; }
    15% { left: -15%; top: 13%; }
    35% { left: 5%; top: -20%; }
    80% { left: 10%; top: 10%; }
    100% { left: 0px; top: 0px; }
}
@keyframes hero-three {
    0% { left: 0px; top: -15%; }
    30% { left: 10%; top: 10%; }
    45% { left: 7%; top: 0px; }
    65% { left: -10%; top: -7%; }
    100% { left: 0px; top: -15%; }
}

.bg-blue {
    background-color: $blue;
}
.bg-darkblue {
    background-color: $darkblue;
}
.bg-red {
    background-color: $red;
}
.bg-tan {
    background-color: $tan;
}


/* #text1 {
    position: absolute;
    bottom: 40px;
    left: 40px;
} */
#info__text1 div:nth-child(1) {
    font-size: 1.6rem;
    line-height: 2.8rem;
}
#info__text1 div:nth-child(2) {
    font-size: 2.16rem;
}
#info__text1 div:nth-child(3) {
    font-size: 4.6rem;
    margin-left: -0.1rem;
}

#info__text2 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
    /* position: absolute;
    bottom: 44px;
    right: 40px; */
}
#info__text2 div:nth-child(1) {
    font-size: 4.6rem;
    line-height: 4rem;
}
#info__text2 div:nth-child(2) {
    font-size: 3rem;
    line-height: 3.5rem;
}
#info__text2 div:nth-child(3) {
    line-height: 2.9rem;
}
#info__text2 div:nth-child(3), #info__text2 div:nth-child(4) {
    font-size: 2rem;
}

#info__text2-image {
    grid-column: 2/3;
    grid-row: 3/4;
    max-width: 40vw;
    max-height: 40vh;
}

#info {
    background: linear-gradient($darkblue, $blue);
}
.info__wrapper {
    /* padding: 40px calc(40px + 15vw); */
    padding: 40px;
}
#info__text3 {
    font-size: 4.6rem;
    text-align: right;

    grid-column: 3/4;
    grid-row: 3/4;
}
#info__text3 div:nth-child(1) {
    font-size: 2.16rem;
    line-height: 3.2rem;
}
#info__text3 div:nth-child(2) {
    line-height: 3.9rem;
}

#info {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

    padding: 40px;
}


#about {
    background: linear-gradient($blue, $red);
    padding: 40px;
    padding-bottom: 70px;
    padding-left: 0;
    gap: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
#about__group-img {
    max-height: 100svh;
    max-width: calc(50vw - 20px);
    display: block;
    filter: grayscale(1);
    border-radius: 0 30px 30px 0;
}
#about__text {
    max-width: 47ch;
}

.img-shape:nth-child(1) {
    border-radius: 9999px;
    position: relative;
    animation: image-one 6s infinite;
}
.img-shape:nth-child(2) {
    border-radius: 9999px;
    position: relative;
    animation: image-two 6s infinite;
}
.img-shape:nth-child(3) {
    border-radius: 9999px;
    position: relative;
    animation: image-three 6s infinite;
    opacity: 0.6;
}
.img-shape {
    width: 400px;
    transform: scale(2.5);
}
.img-shape:before {
    content:"";display:block;margin-top:100%;
}

@keyframes image-one {
    0% { left: 0px; top: 0px; }
    25% { left: 45%; top: 15%; }
    50% { left: 100%; top: 25%; }
    75% { left: -25%; top: -35%; }
    100% { left: 0px; top: 0px; }
}
@keyframes image-two {
    0% { left: 0px; top: 0px; }
    15% { left: -70%; top: 45%; }
    35% { left: 15%; top: -45%; }
    80% { left: 60%; top: 30%; }
    100% { left: 0px; top: 0px; }
}
@keyframes image-three {
    0% { left: 0px; top: -45%; }
    30% { left: -40%; top: 30%; }
    45% { left: 17%; top: 0px; }
    65% { left: -10%; top: -17%; }
    100% { left: 0px; top: -45%; }
}


#about__image-wrapper {
    position: relative;
}
#about__image__shape-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 33.3%);

    overflow: hidden;

    mix-blend-mode: multiply;

    border-radius: 0 30px 30px 0;

    // opacity: 0;
}



#students {
    // background: linear-gradient($red, $tan);
    background: linear-gradient($red, $blue);

    padding: 70px 40px 70px 40px;
    padding-right: 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    // color: black;
    gap: 40px;
}

#students__text {
    text-align: right;
}

#students__grid {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%, $darkblue 75%, $blue);

    width: 60vw;
    // height: 400px;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    max-width: 1000px;
}

.drop-shadow {
    filter: drop-shadow(0px 0px 40px rgba(36, 28, 53, 0.3));
}

.students__headshot {
    max-width: 100%;
    overflow: hidden;
    position: relative;

    border-radius: 0;
}
.students__headshot:before {
    content: "";
    display: block;
    // display: none;
    position: absolute;
    height: 75%;
    width: 75%;
    
    border-radius: 9999px;
    filter: blur(2.4vw);
    transform: translateX(25%) translateY(25%);

    opacity: 0;
    transition: opacity .2s ease;
    mix-blend-mode: multiply;

    background-color: $blue;
    z-index: 2;
}
@for $i from 1 through 13 {
    .students__headshot:nth-child(#{$i}):before { 
        top: random(75px) - 37.5px;
        left: random(75px) - 37.5px;
    }
}

.students__headshot:nth-child(3n):before {
    animation: hero-one 5.5s infinite linear;
}
.students__headshot:nth-child(3n + 1):before {
    animation: hero-two 5.5s infinite linear;
}
.students__headshot:nth-child(3n + 2):before {
    animation: hero-three 5.5s infinite linear;
}


.students__headshot img {
    display: block;
    transition: all 0.35s ease;
    filter: grayscale(1);
    z-index: -1;
    transform: scale(1.02);
}


@media (min-width: 649px) {
    .students__headshot:hover:before {
        opacity: 0.6;
    }
    .students__headshot:hover img {
        transform: scale(1.2);
        filter: grayscale(1) brightness(0.9);
    }
    // .students__headshot:hover {
    //     cursor: pointer;
    // }
}
// .students__headshot:hover img:before {
//     background: none;
// }
// .students__headshot:before {
//     content: "";
//     display: block;
//     margin-top: 100%;
// }

.students__headshot:nth-child(1) {
    grid-column: 2 / span 2;
}
.students__headshot:nth-child(2) {
    grid-column: 4 / span 2;
}
.students__headshot:nth-child(3) {
    grid-column: 6 / span 2;
}
.students__headshot:nth-child(4) {
    grid-column: 8 / span 2;
}

.students__headshot:nth-child(5) {
    grid-column: 1 / span 2;
}
.students__headshot:nth-child(6) {
    grid-column: 3 / span 2;
}
.students__headshot:nth-child(7) {
    grid-column: 5 / span 2;
}
.students__headshot:nth-child(8) {
    grid-column: 7 / span 2;
}
.students__headshot:nth-child(9) {
    grid-column: 9 / span 2;
}

.students__headshot:nth-child(10) {
    grid-column: 2 / span 2;
}
.students__headshot:nth-child(11) {
    grid-column: 4 / span 2;
}
.students__headshot:nth-child(12) {
    grid-column: 6 / span 2;
}
.students__headshot:nth-child(13) {
    grid-column: 8 / span 2;
}


#student-name-line {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s cubic-bezier(0.07, 0.7, 0.43, 0.99);
}
#students__header {
    position: relative;
    top: 16px;
    transition: top 0.3s cubic-bezier(0.07, 0.7, 0.43, 0.99);
}
#students-name-line-wrapper {
    overflow: hidden;
}
.invisible {
    opacity: 0 !important;
}


#work {
    padding: 70px 0 70px 0;

    // color: black;
    // background: linear-gradient($tan, white);
    background: linear-gradient($blue, $darkblue);

    text-align: center;
}
#work h1 {
    padding-bottom: 30px;

    position: relative;
    z-index: 2;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    opacity: 1;
    transition: opacity 0.3s linear;

    position: fixed;

    z-index: 1001;

    background-color: $darkblue;

    overflow: hidden;
}

#navbar__img {
    filter: brightness(120%);
    padding: 15px;
    height: 150px;

    position: fixed;
    top: -50px;
    padding-top: 65px;
    left: 0;
    z-index: 51;

    background-color: $darkblue;
    border-radius: 15px;

    transition: background-color 0.5s ease;
    overflow: hidden;
}
#navbar__img img {
    height: 100%;
    width: auto;
}
#navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $darkblue;
    // border-bottom: 2px solid white;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // z-index: 50;

    transition: all 0.5s ease;

    filter: brightness(1.1);
}
#navbar__links div {
    display: flex;
    align-items: center;
}
#navbar a, #footer p {
    padding: 15px;
    overflow: hidden;
    position: relative;
    background-color: $darkblue;
    color: white;
}
#navbar a:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: linear-gradient(90deg, rgba(119, 96, 170, 0.3), rgba(119, 96, 170, 0.15));
    opacity: 0;
    transition: opacity 0.15s ease;
}
#navbar a:hover {
    cursor: pointer;
    // filter: brightness(120%);
}
#navbar a:hover:before {
    opacity: 1;
}
#navbar__designers svg {
    width: 17.5px;
    height: auto;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-out;
}
#navbar__designers {
    // display: flex;
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
#navbar__designers:hover svg, #navbar__students-dropdown:hover + #navbar__designers:hover svg {
    transform: rotate(0);
}
#navbar__students-dropdown {
    position: fixed;
    background-color: $darkblue;
    right: 0;
    z-index: -1;

    display: flex;
    flex-direction: column;
    padding-bottom: 12.5px;
    border-radius: 0 0 15px 15px;

    visibility: hidden;
    overflow: hidden;

    opacity: 0;
    top: -30vh;

    transition: all 0.3s ease;
}
#navbar__students-dropdown span {
    visibility: hidden;
}
#navbar__designers:hover + #navbar__students-dropdown, #navbar__students-dropdown:hover {
    visibility: visible;
    opacity: 1;
    top: 0;
}
#navbar__students-dropdown a {
    padding: 7.5px 15px 7.5px 15px;
    width: 100%;
}
#navbar__students-dropdown a:first-child {
    padding: 15px;
}
.grain--navbar {
    position: absolute !important;
}


// mobile specific items
.info__bar {
    display: none;
}
.students__label {
    display: none;
}
.students__headshot svg {
    display: none;
}
#student-name-line-mobile {
    display: none;
}
#student-name {
    font-size: 2.2rem;
}


#work__carousel {
    // width: 100%;
    width: calc(100vw - 15px);
    // overflow: hidden;
    position: relative;
    z-index: 1000;

    // padding: 50px 0 50px 0;
    background: $darkblue;

    overflow: hidden;
}
.work__carousel__cell {
    // width: calc(-17px * 0.2 + 20vw);
    // height: calc(-17px * 0.2 + 20vw);
    width: calc(20vw - 15px);
    height: calc(20vw - 15px);
    margin: 0 5px 0 5px;
    // background-color: red;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    padding: 10px;
}
.work__carousel__cell__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.work__carousel__cell:hover .work__carousel__cell__image {
    transform: scale(1.2);
}
.work__carousel__cell__image:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.work__carousel__cell:hover .work__carousel__cell__image:before {
    opacity: 0.3;
}
.work__carousel__cell__info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}
.work__carousel__cell:hover .work__carousel__cell__info {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.work__carousel__cell__info h2 {
    font-weight: 500;
    font-size: clamp(1.8rem, calc(2vw + 0.5rem), 2.4rem);
}
// .work__carousel__cell:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;

//     width: 200px;
//     height: 200px;
//     filter: blur(100px);

//     background-color: rgba(119, 96, 170, 0.6);
//     z-index: 1;
// }
.work__carousel__cell div {
    height: 100%;
    width: 100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    transition: transform 0.3s ease;

    cursor: pointer;
}

.flickity-viewport {
    // border-radius: 30px;
    overflow: hidden;
    padding: 10px 0 10px 0;
    box-sizing:content-box;

    position: relative;
    left: 10px;
}
.flickity-button {
    z-index: 2;
    background: none !important;
    color: white !important;

    // display: none;
}
.flickity-button:before {
    position: absolute;
    content: '';
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;

    border-radius: 50%;
    background: $blue;
    filter: blur(25px);
    transition: all 0.25s ease;
}
.flickity-button:hover:before {
    filter: blur(10px);
}
.flickity-page-dots {
    display: none;
}
.dot {
    filter: blur(3px);
    background-color: $blue !important;

    transition: all 0.25 ease;
}
.dot.is-selected {
    filter: blur(1.5px);
    background-color: $red !important;
}


#footer {
    background-color: $blue;

    display: flex;
    justify-content: center;
    align-items: center;
}
#footer__links-wrapper {
    border-radius: 15px 15px 0 0;
    overflow: hidden;

    background-color: $blue;
    filter: brightness(1.1);

    display: flex;
    flex-direction: column;
    align-items: center;

}
#footer p {
    position: relative;
    background-color: $blue !important;
    z-index: 2;
    opacity: 1;
}
